$color-p: #b3564c;
$color-g: #76b34c;
$color-lb: #4ca9b3;
$color-db: #894cb3;

@mixin margin($property) {
  margin: $property;
  overflow-y: hidden;
}

@mixin radius($property) {
  border-radius: $property;
}

/* Font Variables */
@font-face {
  font-family: "Rogusta Normal", sans-serif;
  src: url("/fonts/Rogusta.ttf");
  font-weight: 400;
}

$rogusta-normal: "Rogusta Normal", sans-serif;

@font-face {
  font-family: "Gotham Black", sans-serif;
  src: url(/fonts/GothamPro-Black.woff);
  font-weight: 900;
}

/* Font Size */

.px20 {
  font-size: 20px;
}
.px25 {
  font-size: 25px;
}
.px30 {
  font-size: 30px;
}
.px35 {
  font-size: 35px;
}
.px40 {
  font-size: 40px;
}

/* Coloring body */
body {
  background-color: #020000;
}

.accordion {
  border-radius: 1%;
  border: 20px solid rgb(99, 38, 38);
  background-color: #5a2d2d;
}

.accordion-item {
  border: 5px solid #022e28;
  padding: 4px 0;
  background-color: #471811;
  margin: 0 0;

  h2 {
    background-color: #300a05;
    background-image: linear-gradient(
      to bottom,
      #2c0707,
      #491010,
      #753636,
      #b88989,
      #945858
    );
    padding: 1% 0;
    margin: 1% 1%;
    border-radius: 25%;
    button {
      width: 92%;
      background-color: rgb(141, 31, 86);
      color: rgb(202, 228, 222);
      @include radius(15%);
      text-align: center;
      margin: 2px;
      outline: none;
      padding: 1% 0;
      font-size: 35px;
      letter-spacing: 2px;
      word-spacing: 5px;
      font-weight: 900;
      border-radius: 30%;
    }
  }
}

.accordion-body {
  background-color: rgb(214, 146, 146);
  color: black;
  padding: 1%;
}

#profile {
  display: none;
  width: 7%;
  height: auto;
  border-radius: 55%;
  padding: 0.8px;
}

.main {
  background-color: rgb(97, 14, 14);
  margin: 100px 0;
  align-items: center;
}

.top-navs {
  background-color: #df9696;
  background-image: linear-gradient(
    to bottom,
    #270f0f,
    #2e0505,
    #490d0d,
    #641a1a,
    #7a3131
  );
}

.top-nav {
  margin-left: 50px;
}

#title {
  margin-left: 70%;
  color: rgb(235, 15, 15);
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 35px;
  text-shadow: 1px 1px 1px rgb(201, 145, 145), 10px 10px 10px rgb(14, 0, 0);
}

.socials {
  font-size: 35px;
  color: rgb(128, 80, 80);
  background-color: #3b0707;
  li {
    padding: 5px;
    a {
      color: rgb(233, 178, 178);
    }
  }
}

.say {
  a {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: oblique;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: 12px;
}

li {
  list-style-type: none;
}

.NG {
  text-shadow: 1px 1px 1px rgb(146, 96, 96), 3px 3px 3px rgb(0, 0, 0);
  margin: 0 5px 0 2px;
  color: rgb(201, 30, 30);
  font-size: 50px;
  font-stretch: round($number: 5);
  font-weight: 900;
  border: 5px solid rgb(248, 74, 74);
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  padding: 2px;
  margin: 20px 5px;
  background-color: rgb(238, 129, 223);
}

.profile {
  img {
    height: 665px;
    width: auto;
  }
}
